<%- include partials/header.ejs %>
<header class="intro">
    <h1>About Me</h1>
    <p>My name is Anrooup Reddy. I'm currently enrolled in Computer Programmer 2 year course at Georgian college.
        Upon completion of this program I'd like to be a QA Professional.  I enjoy Tennis, Baseball, and Soccer.
    </p><br>


<h3>Skills</h3><br>
<div id="bars">
    <div class="bar" data-percent="40">
        <h3>CSS</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
    </div>
    <div class="bar" data-percent="70">
        <h3>HTML5</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
    </div>
    <div class="bar" data-percent="50">
        <h3>JavaScript</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
    </div>
    <div class="bar" data-percent="60">
        <h3>PHP</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
    </div>
    <div class="bar" data-percent="70">
        <h3>Python</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
    </div>
</div>
</header>
<%- include partials/footer.ejs %>