<%- include partials/header.ejs %>
<header class="intro">
    <h1>About Me</h1>
    <p>My name is Anrooup Reddy. I'm currently enrolled in Computer Programmer 2 year course at Georgian college.

    </p>
</header>
<%- include partials/footer.ejs %>